<div class="col-md-12 margin-top-25">

  <div class="col-md-6">
    <div class="form-group classifier-form snowflake-background">
      <label class="green-text xmas-font">Add New Document To Collection</label>
      <input type="text" class="form-control" placeholder="URL to index" ng-model="url">
      <button ng-disabled="loading" class="btn btn-md green-background" ng-click="indexDocument(url)">Add Document</button>
    </div>
  </div>

  <div class="col-md-6">
    <div class="form-group classifier-form snowflake-background">
      <label class="green-text xmas-font">Search For A Document</label>
      <input type="text" class="form-control" placeholder="Query phrase" ng-model="query">
      <button ng-disabled="loading" class="btn btn-md red-background margin-left-10" ng-click="clearSearch()">Clear</button>
      <button ng-disabled="loading" class="btn btn-md green-background" ng-click="queryCollection()">Search</button>
    </div>
  </div>

</div>

<div class="col-md-12 margin-top-25">
  <div class="col-md-6">
    <div class="animation text-center">
      <a href="https://www.fg-a.com" target="_blank"><img class="embeddedObject" src="https://content.screencast.com/users/fg-a/folders/christmas/media/bcaa4ce3-5de3-4348-9c91-d56f271aa4dd/christmas-horizontal-line-1.gif" width="456" border="0" alt="Clipart" /></a>
    </div>
    <div class="search-description snowflake-background">
      <h1 class="green-text xmas-font">Cosine Similarity Search</h1>
      <p><a href="https://www.npmjs.com/package/natural" target="_blank">Natural</a> is used to calculate tf-idf values for all documents in the collection. Upon query submission, cosine similarity scores are calculated for each query-document pair. The 5 highest cosine similarity scores are then returned.
      </p>
    </div>
  </div>

  <div class="col-md-6 margin-top-65">
    <div ng-if="results.length && !loading" class="snowflake-background search-results">
      <h1 class="green-text xmas-font">Search Results</h1>
      <ol>
        <li ng-repeat="result in results">
          <a href="{{result.url}}" ng-bind="result.url" target="_blank"></a>
        </li>
      </ol>
    </div>
    <div ng-if="loading" class="loading-santa">
      <a href="https://www.fg-a.com" target="_blank"><img class="embeddedObject" src="https://content.screencast.com/users/fg-a/folders/christmas/media/f97cafa9-da31-46ce-9a3a-2cbddc22cb45/SANTASEE022Ea12a.gif" width="220" height="146" border="0" alt="Clipart" /></a>
    </div>
  </div>

</div>
