/*
* Globals
*/

body {
  background-color: #3C8D0D;
}

.xmas-font {
  font-family: 'Mountains of Christmas', cursive;
}

body,
p,
li,
a,
label,
button,
h1,
span,
input {
  font-size: 1.5em;
}

.hidden {
  visibility: hidden;
}

span.note {
  font-size: 1.1em;
  margin-top: 15px;
  display: inline-block;
}

p>a {
  color: #d42426;
}

p>a:hover {
  color: #3C8D0D;
}

p,
p>a,
ul>li {
  font-size: 1.2em;
}

.container {
  width: 100%;
  padding: 0px
}

.row {
  padding: 10px 50px;
  background-color: white;
  border-top: 5px solid #d42426;
  border-bottom: 5px solid #d42426;
}

.margin-top-25 {
  margin-top: 25px;
}

.margin-top-65 {
  margin-top: 65px;
}

.margin-left-10 {
  margin-left: 10px;
}


/*
* Colors
*/

.red-text {
  color: #d42426;
}

.red-background {
  background-color: #d42426;
}

.green-text {
  color: #3C8D0D;
}

.green-background {
  background-color: #3C8D0D;
}

.white-text {
  color: #fff;
}


/*
* Navbar
*/

.navbar {
  border-bottom: none;
  padding: 0px 25px;
  margin-bottom: 0px;
}

.navbar-default .navbar-brand {
  color: #fff;
  font-size: 1.8em;
}

.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:active {
  background-color: transparent;
  color: #fff;
  font-size: 1.2em;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbr-nav>li.active>a {
  background-color: white;
  color: #3C8D0D;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
  background-color: white;
  color: #3C8D0D;
}


/*
* Container santa border
*/

.silver-border-top {
  border-top: 10px solid transparent;
  -webkit-border-image: url(../media/silver.png) 30 round;
  -o-border-image: url(../media/silver-border.png) 30 round;
  border-image: url(../media/silver-border.png) 30 round;
  padding: 0px 25px;
}


/*
* Snowflake Background
*/

.snowflake-background {
  background-image: url('../media/christmas-wallpaper.jpg');
}


/*
* Inline Snowflake List
*/

ul.list-inline li:before {
  content: '\f2dc';
  font-family: FontAwesome;
  padding: 0px 5px;
  margin-left: 5px;
  color: blue;
  font-size: 1.1em;
}


/*
* Classifier Form
*/

div.classifier-form {
  background-color: #fff;
  padding: 30px;
  border: 5px solid #d42426;
  margin: 40px 0px;
}

div.classifier-form input {
  display: inline-block;
  width: 400px;
}

div.classifier-form input:focus {
  border-color: #3C8D0D;
}

div.classifier-form button {
  float: right;
  color: #fff;
  margin-top: 1px;
}

div.classifier-form button:focus {
  color: #fff;
}


/*
* Classification Result
*/

div.classification-img-container {
  position: relative;
  width: 150px;
  left: 50%;
  top: 25px;
  transform: translateX(-50%);
}

div.classification-img-container img {
  width: 150px;
}

div.classification-img-container span {
  position: absolute;
  left: 50px;
  top: 110px;
  color: white;
  font-size: 1.4em;
}

div.classification-img-container i.fa-times {
  left: 130px;
  top: 44px;
  position: absolute;
  color: #fff;
  font-size: 1.3em;
  cursor: pointer;
}


/*
* Search Results
*/

div.search-results {
  background-color: #fff;
  padding: 10px 30px;
  min-width: 500px;
  border: 5px solid #d42426;
  margin: 0px auto;
}

div.search-description {
  background-color: #fff;
  padding: 10px 30px;
  min-width: 500px;
  border: 5px solid #d42426;
  margin: 0px auto;
}

div.search-results ol {
  padding: 0px;
}

div.search-results li {
  font-size: 1.2em;
}

div.search-results a {
  font-size: 1em;
  color: #000;
}

div.search-results a:hover {
  color: #3C8D0D;
}


/*
* Loading Santa GIF
*/

div.loading-santa {
  width: 150px;
  position: absolute;
  margin-top: 25px;
  left: 50%;
  transform: translateX(-50%);
}


/*
* Snow Animation
*/

#snow {
  background: none;
  font-family: Androgyne;
  background-image: url('http://www.wearewebstars.dk/codepen/img/s1.png'), url('http://www.wearewebstars.dk/codepen/img//s2.png'), url('http://www.wearewebstars.dk/codepen/img//s3.png');
  height: 100%;
  left: 0;
  position: absolute;
  width: 100%;
  padding: 0px;
  z-index: 1;
  -webkit-animation: snow 10s linear infinite;
  -moz-animation: snow 10s linear infinite;
  -ms-animation: snow 10s linear infinite;
  animation: snow 10s linear infinite;
}

@keyframes snow {
  0% {
    background-position: 0px 0px, 0px 0px, 0px 0px;
  }
  50% {
    background-position: 500px 500px, 100px 200px, -100px 150px;
  }
  100% {
    background-position: 500px 1000px, 200px 400px, -100px 300px;
  }
}

@-moz-keyframes snow {
  0% {
    background-position: 0px 0px, 0px 0px, 0px 0px;
  }
  50% {
    background-position: 500px 500px, 100px 200px, -100px 150px;
  }
  100% {
    background-position: 400px 1000px, 200px 400px, 100px 300px;
  }
}

@-webkit-keyframes snow {
  0% {
    background-position: 0px 0px, 0px 0px, 0px 0px;
  }
  50% {
    background-position: 500px 500px, 100px 200px, -100px 150px;
  }
  100% {
    background-position: 500px 1000px, 200px 400px, -100px 300px;
  }
}

@-ms-keyframes snow {
  0% {
    background-position: 0px 0px, 0px 0px, 0px 0px;
  }
  50% {
    background-position: 500px 500px, 100px 200px, -100px 150px;
  }
  100% {
    background-position: 500px 1000px, 200px 400px, -100px 300px;
  }
}
